 ![png](image_books_erd.png)

In [1]:
from sqlalchemy.engine import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
import pandas as pd

In [4]:
# Create the sqlalchemy engine and connection
username = "root"
password = "root" 
# password = quote_plus("Myp@ssword!") # Use the quote function if you have special chars in password
db_name = "mydb"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
conn = engine.connect()

In [5]:
# Preview the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, conn)

  Tables_in_mydb
0        authors
1          books
2      favorites
3          users

In [7]:
q= '''SELECT * FROM books'''
pd.read_sql(q, conn)

Empty DataFrame
Columns: [Book ID, Title, authors_Author ID]
Index: []